<div class="jumbotron mt-3" style="padding-top:25px; padding-bottom:25px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3><i class="far fa-clock"></i> <%= data.time %></h3>
        <p class="lead"><i class="fas fa-map-marker-alt"></i> <%= data.city.name %></p>
      </div>
      <% if (data.weather.icon) { %>
        <div class="col-sm">
          <img src="/assets/weather-icons/<%= data.weather.image %>.png" class="float-right" style="width: 100px; height: 65px;"
            alt="<%= data.weather.icon %>">
        </div>
      <% } %>
    </div>
    <hr class="mb-4 mt-0">
    <div class="row">
      <div class="col-md-auto">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr id="humidity">
              <td class="text-right dark-key-customtable corner-tl" style="padding-left:30px;">Humidité</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-tint"></i></td>
              <td class="text-left light-value-customtable corner-tr" style="padding-right:20px;">
                <%= Math.round(data.weather.humidity * 100) %>%</td>
            </tr>
            <tr id="pressure">
              <td class="text-right dark-key-customtable" style="padding-left:30px;">Pression</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-globe-africa"></i></td>
              <td class="text-left light-value-customtable" style="padding-right:20px;">
                <%= Math.round(data.weather.pressure) %>hPa</td>
            </tr>
            <tr id="dewpoint">
              <td class="text-right dark-key-customtable" style="padding-left:30px;">Point de rosée</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-tint"></i>&deg;</td>
              <td class="text-left light-value-customtable" style="padding-right:20px;">
                <%= Math.round(data.weather.dewPoint) %>°C</td>
            </tr>
            <tr id="cloud">
              <td class="text-right dark-key-customtable" style="padding-left:30px;">Nuages</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-cloud"></i></td>
              <td class="text-left light-value-customtable" style="padding-right:20px; font-weight: bold; color: <%= data.colors.cloudCover %>;">
                <%= Math.round(data.weather.cloudCover * 100) %>%</td>
            </tr>
            <tr id="ozone">
              <td class="text-right dark-key-customtable" style="padding-left:30px;">Ozone</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-smog"></i></td>
              <td class="text-left light-value-customtable" style="padding-right:20px;">
                <%= Math.round(data.weather.ozone) %>DU</td>
            </tr>
            <tr id="uvindex">
              <td class="text-right dark-key-customtable corner-bl" style="padding-left:30px;">Index UV</td>
              <td class="text-center dark-symbol-customtable"><i class="fas fa-sun"></i></td>
              <td class="text-left light-value-customtable corner-br" style="padding-right:20px; font-weight: bold; color: <%= data.colors.uvindex %>;">
                <%= data.weather.uvIndex %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md">
        <p><%- data.weather.description %></p>
      </div>
    </div>
  </div>
</div>
